@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');

:root {
    --headlineFont: "Instrument Sans", sans-serif;
    --white: #ffffff;
    --header-height: 100px;
    --PrimaryFont: "CabinetGrotesk", sans-serif;
    --PrimaryColor: #000083;
}

[data-color="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;
    --content-color: #908F92;
}

@font-face {
    font-family: 'CabinetGrotesk';
    src: url('/font/CabinetGrotesk-Bold.otf');
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('/font/ClashDisplay-Medium.otf');
    font-style: normal;
}

@font-face {
    font-family: 'DegularDemo';
    letter-spacing: 5px;
    src: url('/font/DegularDemo-Regular.woff2');
    font-style: normal;
}


.no-select {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version for modern browsers */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--headlineFont);
    scroll-behavior: smooth;
}

/* header---------------------- */

header {
    background-color: transparent;
    margin-bottom: calc(-1 * var(--header-height));
    height: var(--header-height);
    z-index: 999;
    position: sticky;
    top: 0;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 70px;
}

.header-wrapper .branding {
    color: #d1d1d1;
    letter-spacing: 1px;
    font-family: var(--PrimaryFont);
    font-size: 10px;
    z-index: 52;
}

.header-wrapper .navigation {
    color: var(--text-color);
    font-size: 30px;
    transition: 0.5s all;
    z-index: 100;
    padding: 15px 20px;
    border-radius: 50px;
    border: 0.2px solid #dadada17;
    background: linear-gradient(to bottom, rgba(0, 0, 131, 0.279) 0%, rgba(0, 0, 131, 0.153) 0%, rgba(0, 0, 131, 0) 100%);
    backdrop-filter: blur(15px);
}

.navigation .links {
    display: flex;
    gap: 50px;
}

.navigation .links a {
    text-decoration: none;
    font-family: var(--PrimaryFont);
    font-size: 17px;
    color: #d1d1d1;
    transition: 0.5s all;
}

.navigation .links a:hover {
    /* color: var(--PrimaryColor); */
}


/* ---------------------------------------------*/

.hero-section {
    height: calc(100vh + var(--header-height));
    /* height: 100vh; */
    background-color: #1F1F1F;
    background:
        linear-gradient(to right, #ffffff00 1px, #1b1a1a 0.5px) 0 0,
        linear-gradient(to bottom, #ffffff00 1px, #1b1a1a 0.5px) 0 0;
    background-size: 20px 20px;
    /* background: radial-gradient(100% 100% at 61.9% -9.3%, rgba(0, 0, 0, .53) 0%, rgb(12, 12, 13) 100%); */
    position: relative;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    z-index: 51;
}

.hero-section:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(100% 100% at 80.9% -9.3%, rgba(0, 0, 0, 0) 0%, rgb(12, 12, 13) 100%);
}

.hero-content {
    color: white;
    font-family: var(--PrimaryFont);
    font-weight: 900;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    margin-bottom: 80px;
}

.hero-content h2 {
    font-size: 6rem;
    line-height: 1;
    letter-spacing: 1px;
}

.hero-content .first-line {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.hero-content .first-line .circle {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.hero-content .headline-text-line1 {
    margin-left: -70px;
}

.hero-content .headline-text-line2 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    margin-right: -90px;
}

.circle-effect {
    border-radius: 50px !important;
    width: 400px;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    border: 1px solid #d1d1d100;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: 0.5s all;
    cursor: pointer;
}

.profile-img {
    position: absolute;
    left: 0px;
    width: 100%;
    transition: 0.5s all;
    height: 100%;
    background-position: center center;
    background-size: cover;
    z-index: 10;
    background-image: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?t=st=1725165897~exp=1725169497~hmac=fbb67cbcdf13c2b2d21de0188fddda2c5c257e1dbabee2ef040ff8892d2fed60&w=1060);
}

.profile-content {
    font-family: var(--headlineFont);
    font-weight: 500;
    transform: translateY(50px);
    display: none;
    line-height: 1.5;
    font-size: 17px;
    width: 78%;
    transition-timing-function: cubic-bezier(.48, .07, 0, 1.2);
    transition-property: display opacity transform;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    transition-delay: 0.5s;
    opacity: 0;
}

.circle-effect:hover .profile-content {
    display: block;
    opacity: 1;
    transform: translateY(0px);

    @starting-style {
        transition-delay: 2s;
        opacity: 0;
        transform: translateY(50px);
    }
}

.circle-effect:hover .profile-img {
    border-radius: 100%;
    width: 20%;
    height: 80%;
    left: 10px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjZirTv3YUaHSe-VVIQzwXUHXxb8mnJ-krbg&s);
}

.circle-effect:hover {
    padding: 10px;
    border: 1px solid #d1d1d15d;
}

.alert_container {
    position: absolute;
    left: -135px;
    bottom: -100px;
}

.headline-text {
    position: relative;
}

.round-effect {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: moveAndRotate 80s infinite;
}

.round-effect img {
    width: 100px;
    animation: rotate 10s infinite ease;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* ---------------------------------------------------------------------------- */

.about-section {
    /* height: 100vh; */
    z-index: 500;
    background-color: #0b0b0b;
    position: relative;
    padding: 100px 80px;
    /* background:
        linear-gradient(to right, #ffffff00 0.3px, #1b1a1a 0.5px) 0 0,
        linear-gradient(to bottom, #ffffff00 0.3px, #1b1a1a 0.5px) 0 0; */
}

.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about_container .left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

/* .circle_effect {
    width: 100px;
    border-radius: 100px;
    height: 300px;
    background-color: #3E849E;
    background: url(https://pikaso.cdnpk.net/public/media/tti-examples/23.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: repeat-x;
    transition: 3s all;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur;
} */

.about_container .circle_effect {
    width: 100px;
    height: 300px;
   border-radius: 100px; /* To make it a perfect circle */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.circle_effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://pikaso.cdnpk.net/public/media/tti-examples/23.jpg)  center center;
    background-size: cover;
    filter: blur(0px); 
    z-index: 1;
    transition: 2s all;
    backdrop-filter: blur(50px);
}

.circle_effect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3e849e91;
   filter: blur(50px);
    z-index: -1;
    /* opacity: 0.5; */
}

.circle_effect h3 {
    text-transform: uppercase !important;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    position: relative;
    left: 100%;
    font-family: 'Inter';
    width: 100%;
    /* opacity: 0; */
    color: #1b1a1a;
    font-weight: 600;
    font-size: 24px;
    white-space: nowrap;
    transition: 2s all;
    color: #ffffff;
}

.circle_effect:hover h3{
    opacity: 1;
    left: -35%;
}

.circle_effect:hover::before {
    background-position: 2000px;
    filter: blur(5px); 
    opacity: 0;
}

.about_container .left img {
    border-radius: 80px;
    width: 300px;
    height: 400px;
}

.about_container .right {
    width: 70%;
    color: #d1d1d1;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 25px;
}

.about_container .right h2 {
    font-size: 70px;
    font-family: var(--PrimaryFont);
}

.about_container .right p {
    font-size: 20px;
    line-height: 1.5;
    font-family: var(--headlineFont);
}

.about_container .social_icon {
    display: flex;
    gap: 10px;
}

.about_container .social_icon a {
    text-decoration: none;
    background-color: #1b1a1a;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.about_container .social_icon a svg {
    fill: #fff;
}

/* ---------------------------------------- */

.service-slider {
    font-size: 15px;
    padding-block: 8px;
    overflow: hidden;
    user-select: none;
    font-family: var(--PrimaryFont);
    text-transform: uppercase;
    letter-spacing: 2px;
    /* margin-top: 80px; */
    --gap: 120px;
    background-color: var(--PrimaryColor);
    display: flex;
    gap: var(--gap);
  }
  
  .service-slider ul {
    /* list-style: none; */
    color: #fff;
    font-size: 18px;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
  
    animation: scroll 15s linear infinite;
  }
  
  .service-slider:hover ul {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
  .service-slider .service-name {
    font-weight: bold;
    color: #fff;
  }

  .service-section {
    background-color: #0b0b0b;
    padding: 60px 60px;
  }

  .service-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .service-wrapper .service-box {
    color: #fff;
    background-color: #1f1f1f85;
    border: 1px solid #7e7e7e44;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    backdrop-filter: blur(10px);
    padding: 25px 30px;
  }

  .service-wrapper .service-box span {
    text-align: left;
    font-family: var(--headlineFont);
    font-size: 18px;
  }

  .service-wrapper .service-box h3 {
    text-align: left;
    font-size: 34px;
    font-weight: 100;
    font-family: var(--PrimaryFont);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .service-wrapper .service-box p {
    text-align: left;
    font-family: var(--headlineFont);
    line-height: 1.4;
    letter-spacing: 1.5px;
    color: #d1d1d1;
    font-size: 18px;
  }

